body {
  margin: 0; 
  padding: 20px;
}
a, a:visited, a:active, a:hover { 
  color: #333;
}
p { 
  margin: 0 0 10px 0;
  line-height: 120%;
  max-width: 700px;
}
.credits {
  text-align: right;
}
.u--centered {
  text-align: center;
}
.hidden { 
  display: none;
}
.listening {
  margin: 0 0 15px 0;
}
.listening .track,
.listening a { 
  text-decoration: underline;
  display: inline-block;
}
.listening .track strong { 
  font-weight: normal;
}
.online-status { 
  position:absolute;
  right: 10px;
  top: 10px;
  cursor: help;
}
.battery {
  position:absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 10px;
  background: url(../img/battery.png) no-repeat 0 0;
}
.battery.battery-level-0 {
  background-position: 0 0;
}
.battery.battery-level-1 {
  background-position: 0 -13px;
}
.battery.battery-level-2 {
  background-position: 0 -26px;
}
.battery.battery-level-3 {
  background-position: 0 -39px;
}
.battery.battery-level-4 {
  background-position: 0 -52px;
}
.battery.battery-level-5 {
  background-position: 0 -65px;
}
.battery.battery-level-6 {
  background-position: 0 -78px;
}
.heart {
  color: rgba(218, 26, 16, 1);
}
.columns {
  -webkit-column-gap: 40px; 
  -moz-column-gap: 40x; 
  column-gap: 40px;
  -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
}
.separator {
  height: 1px;
  border-top: 1px solid #333;
  margin: 15px 0;
}

footer {
  margin: 10px 0 0 0;
  border-top: 1px solid #333;
  padding: 5px 0 0 0;
}
@media all and (max-width: 700px) {
  body .columns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; 
    column-count: 1;/* Firefox */
  }
}
@media all and (min-width: 701px) and (max-width: 950px) {
  body .columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; 
    column-count: 2;/* Firefox */
  }
}
@media
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1) {
  .columns {
    -webkit-column-count: none; /* Chrome, Safari, Opera */
    -moz-column-count: none; /* Firefox */
    column-count: none;
  }
  .battery {
    background: url(../img/battery@2x.png);
    background-size: 22px 88px;
  }
}
