body {
  margin: 0; 
  padding: 20px;
}
a, a:visited, a:active, a:hover { 
  color: #333;
}
p { 
  margin: 0 0 10px 0;
  line-height: 120%;
  max-width: 700px;
}
.hidden { 
  display: none;
}
.listening {
  margin: 0 0 15px 0;
}
.listening .track,
.listening a { 
  text-decoration: underline;
  display: inline-block;
}
.listening .track strong { 
  font-weight: normal;
}
.online-status { 
  position:absolute;
  right: 10px;
  top: 10px;
  cursor: help;
}

.battery {
  position:absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 10px;
  background: url(../img/battery.png) no-repeat 0 0;
}
.battery.battery-level-0 {
  background-position: 0 0;
}
.battery.battery-level-1 {
  background-position: 0 -13px;
}
.battery.battery-level-2 {
  background-position: 0 -26px;
}
.battery.battery-level-3 {
  background-position: 0 -39px;
}
.battery.battery-level-4 {
  background-position: 0 -52px;
}
.battery.battery-level-5 {
  background-position: 0 -65px;
}
.battery.battery-level-6 {
  background-position: 0 -78px;
}
