body {
  margin: 0; 
  padding: 20px;
}
a, a:visited, a:active, a:hover { 
  color: #333;
}
p { 
  margin: 0 0 10px 0;
  line-height: 120%;
  max-width: 700px;
}
.hidden { 
  display: none;
}
.listening {
  margin: 0 0 15px 0;
}
.listening .track,
.listening a { 
  display: inline-block;
}
.listening .track strong { 
  font-weight: normal;
}
.online-status { 
  position:absolute;
  right: 10px;
  top: 10px;
  cursor: help;
}

